{% extends "base.html" %}
{% block content%}
<div class="mdl-grid mdl-shadow--2dp form-grid mdl-color--white margin-top-10">
        <form action="{{url_for('edit_city_details', category = city.category, cityId = city.id)}}" class="item-form" method="post" id="cityForm">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text margin-top-5">
            <input class="mdl-textfield__input" type="text" name="city_name" value="{{city.city_name}}" id="city_name">
            <label class="mdl-textfield__label" for="city_name">City Name</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text">
            <input class="mdl-textfield__input" type="text" name="region" value="{{city.region}}" id="region">
            <label class="mdl-textfield__label" for="region">Region Name</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text">
            <input class="mdl-textfield__input" type="text" name="cityImage" value="{{city.coverUrl}}" id="coverUrl">
            <label class="mdl-textfield__label" for="cityImage">City Cover Image url</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text">
            <textarea class="mdl-textfield__input" type="text"  name="cityDescription" id="description">{{city.description}}</textarea>
            <label class="mdl-textfield__label" for="cityDescription">Description</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth input-field-text">

            <input class="mdl-textfield__input" type="text" name="category" id="category" value="{{city.category}}" readonly tabIndex="-1">
            <label for="category" class="mdl-textfield__label">Genre</label>
            <ul for="category" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                <li class="mdl-menu__item">Fiction</li>
                <li class="mdl-menu__item">Horror</li>
                <li class="mdl-menu__item">Mystery</li>
                <li class="mdl-menu__item">Romance</li>
                <li class="mdl-menu__item">Fantasy</li>
                <li class="mdl-menu__item">Other</li>
            </ul>
            </div>

        <br>
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent input-button mdl-color--teal" onclick="validateDetails()" type="button" value="Edit">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--grey-300 input-button" href="{{url_for('show_cities')}}">Cancel</a>

      </form>
</div>
{% endblock %}
